Repository neuralNOD/nn-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nxlogics, @ZenithClown, @nxlogics-docs

added test file from local user.name and user.email
  .test
Owners: @nxlogics

🧪 checked separate user commits --global
  .test
Owners: @nxlogics

🛠 refactor code output for model trainer
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
Owners: @ZenithClown

🖼 add bare lstm 1.0.0 model analysis
  data/.gitkeep
  data/processed/.gitignore
  data/processed/.gitkeep
  output/.gitkeep
  output/images/.gitkeep
  output/images/2023-01-21 BareLSTM-1.0.0.png
  output/savedmodels/.gitignore
  output/savedmodels/.gitkeep
Owners: @nxlogics

🎉 add datetime_.date_range() func
  utilities/datetime_.py
Owners: @ZenithClown

📃🛠❓ add model performance report for some selected days
  output/predictions/2023-01-21 BareLSTM-1.0.0/2022-11-10.xlsx
  output/predictions/2023-01-21 BareLSTM-1.0.0/2022-11-13.xlsx
  output/predictions/2023-01-21 BareLSTM-1.0.0/2022-11-24.xlsx
Owners: @nxlogics

upload notebook unlock cells
  .vscode/settings.json
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  src/models/lstm.py
Owners: @nxlogics, @ZenithClown

➖ remove unused logging imports
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
Owners: @ZenithClown

🛠📃 organize and fix documentation and code hierarchy
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
Owners: @ZenithClown

📃🛠🎉 refactor data processing to different notebook for flexibility
  data/processed/.gitignore
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  notebooks/[INTERNAL CODE] Processing RAW Data into Actionable AI-ML Formats.ipynb
Owners: @nxlogics, @ZenithClown

➕ add data reshape section for model training
  notebooks/[INTERNAL CODE] Processing RAW Data into Actionable AI-ML Formats.ipynb
Owners: @ZenithClown

🛠 create separate notebook eda and remove contents from main
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  notebooks/[INTERNAL CODE] Exploratory Data Analysis.ipynb
Owners: @ZenithClown

🛠 code clean up and loading data directly from processed files
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
Owners: @ZenithClown

🛠 remove the traner.py module
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  src/trainer.py
Owners: @ZenithClown

🎉 create a template for internal reporting
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  static/template/Internal Statistical Reporting Template.xlsx
Owners: @ZenithClown, @nxlogics

🔧 update with model information
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  static/template/Internal Statistical Reporting Template.xlsx
Owners: @ZenithClown, @nxlogics

✨🧾 add section to insert testing dataset
  static/template/Internal Statistical Reporting Template.xlsx
Owners: @nxlogics

🎉 create trainer.py to train a model
  HOWTO.md
  trainer.py
Owners: @nxlogics-docs, @ZenithClown

🔧 added model evaluation notebook
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  utilities/plotting.py
Owners: @ZenithClown

🌟🚧 added section to populate statistical summary for model
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  static/template/Internal Statistical Reporting Template.xlsx
Owners: @ZenithClown, @nxlogics

✨ bump code version to v0.0.1-alpha on ideation phase
  VERSION
Owners: @nxlogics

🎉 added mape information
  notebooks/Basic LSTM Approach to Predict MCP using Univariate Approach.ipynb
  static/template/Internal Statistical Reporting Template.xlsx
Owners: @ZenithClown, @nxlogics

➕📦 create data with n_lookback = 7 days
  notebooks/[INTERNAL CODE] Processing RAW Data into Actionable AI-ML Formats.ipynb
Owners: @ZenithClown

.github/CODEOWNERS:

# Defines Code Owners for the Repository

# A code owner is a person(s)/organization(s) that manages or handles the repository
# where `.github/CODEOWNERS` file is defined. The syntax follows `.gitignore` style, with
# some exceptions (check documentation for more information).
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The owners specified below are the default owner of any/all the
# files available under the repository, unless so specified by the order
# of precendence (if found later).
* @nxlogics

# I also want validation rules to be setup for `.py` and `.ipynb` files
# üöß TODO Setup Moderators A/C for Specific Tasks - Managerial Role(s)
# üöß‚ùì TODO Setup CI/CD Pipelines for `.ipynb` File, such that No Cell is Frozen
*.py     @ZenithClown
*.ipynb  @ZenithClown

# Managerial Role: All types of documents are now controlled by `docs-admin`
*.md @nxlogics-docs
